/* colors
    light grey rgb(169,190,192)
    green rgb(3,63,68)
    orange rgb(232,130,81)
*/
.header {
	background-color:rgb(3,63,68);
	height:80px;
	margin:auto;
}

.header ul {
		margin:0 auto;
		width:800px;
		padding-top:30px;
    list-style-type: none;
	}

.header ul li {
  display:inline;
  color:white;

	}
.header a {
	float:left;
  padding-left: 32px;
	text-align:center;
}


.header ul li a img {
	background: url('whitelogo.svg');
	background-repeat:no-repeat;
  height:90px;
	display:block;
	width:190px;
	margin-top:-32px;
}

.header ul li a{
  text-decoration: none;
  color:white;
}

.header ul li a:hover{
  text-decoration: underline;
}


body {
  max-width: 1000px;
  padding: 1em;
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
}

div, section, main, aside, header, footer {
  padding: .5em;
  margin-bottom: 1em;
  font-family: oswald, sans-serif;
}

footer{
  background-color:rgb(169,190,192);
  color: white;
  font-family: oswald, sans-serif;
  font-weight: 300;
  font-style: normal;
  max-width: 100%;
}

.footertitle{
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(3,63,68);
}

footer ul{
  list-style-type:none;
  display:flex;
  justify-content:space-between;
  margin:0;
  padding:1em;
  padding-top:0;
  padding-bottom:0;
}
