/* colors
    light grey rgb(169,190,192)
    green rgb(3,63,68)
    orange rgb(232,130,81)
*/

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: rgb(3,63,68);
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

@media screen and (min-width: 500px) {
	.topnav #myLinks {
		font-size: 12px;}
	}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

@media screen and (min-width: 500px) {
	.topnav a {
		font-size: 20px;}
	}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(232,130,81);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: rgba(169,190,192.4);
}

/* Style the active link (or home/logo) */
.active {
  background-color: rgb(3,63,68);
  color: white;
}


body {
  max-width: 1000px;
  padding: 1em;
}

h1, h2, h3{
  color:rgb(3,63,68);
}

p{
  font-weight: 300;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: rgb(3,63,68);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: oswald, sans-serif;
    font-weight: 400;
    font-size:14px;
}

@media screen and (min-width: 500px) {
	.accordion {
		font-size: 16px;}
	}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/*Home Page */
.homep{
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:12px;
  line-height: 1.5;
}

@media screen and (min-width: 500px) {
	.homep {
		font-size: 14px;}
	}

@media screen and (min-width: 500px) {
	.newlistings {
		font-size: 20px;}
	}


* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
  font-size: 15px;
}

@media screen and (min-width: 500px) {
	.caption-container {
		font-size: 18px;}
	}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* Sellers page */
.sellingyourhouse{
  font-size: 18px;
}

@media screen and (min-width: 500px) {
	.sellingyourhouse {
		font-size: 20px;}
	}

.sellersp{
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:12px;
  line-height: 1.5;
}

@media screen and (min-width: 500px) {
	.sellersp {
		font-size: 14px;}
	}

.sellersul, .sellersol li{
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
}



/* Agents page */
.agent img {
  width: 120px;
  height: auto;
  float:left;
  padding:1em;
}

@media screen and (min-width: 500px) {
	.agent img {
		width: 140px;
    height: auto;
    }
	}

.agent h3{
  font-size:16px;
  text-decoration: underline;
}

@media screen and (min-width: 500px) {
	.agent h3 {
		font-size: 18px;}
	}
.agent ul{
  color:rgb(3,63,68);
 }

.agent li{
  font-size:14px;
  list-style-type: none;
}

@media screen and (min-width: 500px) {
	.agent li {
		font-size: 16px;}
	}

.agent li a{
  text-decoration: none;
  color:rgb(3,63,68);
}

.aboutus{
  font-size:20px;
}

@media screen and (min-width: 500px) {
	.aboutus {
		font-size: 25px;}
	}

.aboutusp{
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:12px;
  line-height: 1.5;
}

@media screen and (min-width: 500px) {
	.aboutusp {
		font-size: 14px;}
	}


div, section, main, aside, header, footer {
  padding: .5em;
  margin-bottom: 1em;
  font-family: oswald, sans-serif;
}

footer{
  background-color:rgb(169,190,192);
  color: white;
  font-family: oswald, sans-serif;
  font-weight: 300;
  font-style: normal;
  max-width: 100%;
	height: 100px;
	text-align:center;
}

@media screen and (min-width: 500px) {
	footer {
		height: 50px;}
	}

.footertitle{;
  font-weight: 400;
  color:rgb(3,63,68);
	font-size:16px;
	text-decoration: underline;
}

@media screen and (min-width: 500px) {
	.footertitle {
		text-decoration:none;
    }
	}

footer ul{
	font-size:13px;
  list-style-type:none;
  justify-content:space-between;
  margin:0;
	padding:0;
  padding-bottom:2em;
}

@media screen and (min-width: 500px) {
	footer ul {
		font-size: 14px;
    display:flex;
    padding-top:.4em;
    }
	}
