/* colors
    light grey rgb(169,190,192)
    green rgb(3,63,68)
    orange rgb(232,130,81)
*/
header{
  background-color: rgb(3,63,68);
}

header img{
  width:40px;
  float:left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration:underline;
}

nav ul{
  list-style-type:none;
  display:flex;
  justify-conent:space-between;
}

nav li{
  text-decoration:none;
}

body {
  max-width: 1000px;
  padding: 1em;
  font-family: athelas, serif;
  font-weight: 400;
  font-style: normal;
}

div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
  font-family: oswald, sans-serif;
}

footer{
  background-color:rgb(169,190,192);
  color: white;
  font-family: oswald, sans-serif;
  font-weight: 300;
  font-style: normal;
  max-width: 100%;
}

.footertitle{
  font-family: oswald, sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(3,63,68);
}

footer ul{
  list-style-type:none;
  display:flex;
  justify-content:space-between;
  margin:0;
  padding:1em;
  padding-top:0;
  padding-bottom:0;
}
